*{
  font-family: Roboto, arial;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

main {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 90%;
  max-width: 1000px;
  min-height: 600px;
  display: flex;
  border-radius: 24px;
}

.forms {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 60px 50px;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  flex: 1;
  background: #0f172a;
  color: white;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.header-text h1 {
  margin-bottom: 15px;
  font-size: 36px;
}

.header-text p {
  color: rgb(144, 144, 144);
  white-space: nowrap;
  font-size: 14px;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-div-primary {
  display: flex;
  position: relative;
}

.input-div-primary i {
  position: absolute;
  left: 10px;
  top: 20%;
  font-size: 14px;
  color: rgb(151, 151, 151);
}

.input-div-primary input {
  padding: 10px 30px 10px 40px;
  width: 100%;
  border-radius: 7px;
  border: 1px solid rgb(151, 151, 151);
  margin-bottom: 20px;
  outline: none;
}

.input-div-primary input:focus {
  border-color: #3b82fe;
  background: white;
  box-shadow: 0 0 10px 4px rgba(59, 130, 246, 0.1);
  transform: translateY(-1px);
}

.input-div-primary input:focus + i {
  color: #3b82fe;
  transform: translateY(-1px);
}

.sign-forgot-div {
  display: flex;
  flex-direction: column;
}

.sign-forgot-div span {
  text-align: end;
}

.sign-forgot-div a {
  font-size: 12px;
  text-decoration: none;
  color: #3b82fe;
  margin-bottom: 7px;
  font-weight: 500;
}

.sign-forgot-div a:hover {
  text-decoration: underline;
}

.span-link {
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #3b82fe;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 7px;
}

.loading {
  display: none;
}

.loading.show {
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.continue-with {
  text-align: center;
  margin-top: 10px;
  color: rgb(144, 144, 144);
  font-size: 14px;
  position: relative;
  font-weight: 500;
}

.continue-with::before,
.continue-with::after {
  content: '';
  width: 35%;
  height: 1px;
  position: absolute; 
  top: 50%;
  background: #e2e8f0;
}

.continue-with::before {
  left: 0;
}

.continue-with::after {
  right: 0;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.secondary-btn {
  border: 1px solid gray;
  padding: 10px 60px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 7px;
}

.create-acc-div {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.show-page-div {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: rgb(144, 144, 144);
}

.show-page-div a {
  text-decoration: none;
  color: #3b82fe;
}

.show-page-div a:hover {
  text-decoration: underline;
}

/*
.form-container {
  display: none;

}

.form-container.active {
  display: block;
}
*/